/*applying css universally*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* applying CSS on the body of the DOM*/
body{
    background-color: rgb(134, 122, 122);
    margin: auto;
    padding: 0px;
   
    
}

/* Applying CSS on the container*/
.container{
    margin: 40px;
    padding: 20px;
    display: flex;  
    max-height: 800px;
    max-width: 800px;
    border-radius: 10px;
    
}

.box{
    
    height: 600px; 
    width: 600px;
    margin: auto;
    padding: 4px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid black;
    


/* If we apply grid property to the container_1 automatically the child elements will have grid property*/
.container_1{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 15px;   
    
}

.input_fields {
    display: flex;
    flex-direction:column;
}


/*address_fields is not a part of flex because it have to occupy the whole width*/
.address_fields{
    grid-column: 1/span 2;
}

.address_fields textarea{
    width: 100%;
}


label{
    margin-bottom: 7px;
}

/*applying style to the button element*/
button{
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px;  
}

#btn{
    display: flex;
    margin-top: 40px;
    margin-left: 500px;
    
}

input , select {
    margin-top: 2px;
    border:2px solid black;
    border-radius: 3px;
    height: 40px;
    
}
textarea{
    margin-top: 2px;
    border:2px solid black;
    border-radius: 3px;
    height: 70px;
}

/*Adding aaditional feature that is hover over the button element*/
button:hover{
    background-color:white;
    color: black;

}