*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(134, 122, 122);
    margin: auto;
    padding: 0px;
   
    
}

.container{
    margin: 40px;
    padding: 20px;
    display: flex;  
    max-height: 800px;
    max-width: 800px;
    border-radius: 10px;
    
}

.box{
    height: 600px; 
    width: 600px;
    margin: auto;
    padding: 4px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid black;
    
    
}


.container_1{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
    gap: 15px;
    margin-top: 30px;
}

.input_fields {
    display: flex;
    flex-direction:column;
}

.address_fields{
    grid-column: 1/span 2;
}

.address_fields textarea{
    width: 100%;
}


label{
    margin-bottom: 7px;
}


button{
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px;  
}

#btn{
    display: flex;
    margin-top: 40px;
    margin-left: 500px;
    
}

input , select {
    margin-top: 2px;
    border:2px solid black;
    border-radius: 3px;
    height: 40px;
    
}
textarea{
    margin-top: 2px;
    border:2px solid black;
    border-radius: 3px;
    height: 70px;
}

button:hover{
    background-color:white;
    color: black;

}
